@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import './normalize.css';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", "Overpass";
}

.section-1,
.section-3 {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

p,
h2,
.footer {
    line-height: 1.80rem;
}

p {
    color: hsl(207, 13%, 34%);
}

.container {
    margin: 0 auto;
    width: 80%;
}

.flex--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__bg {
    min-height: 100vh;
    background-image: url("./images/bg-pattern-intro.svg"), linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom-left-radius: 80px;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    position: relative;
    z-index: 1;
}

.navbar__links {
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    transform: translateY(-200%);
    padding: 1.5rem;
    width: 100%;
    border-radius: 5px;
    transition: 900ms ease;
    -webkit-transition: 900ms ease;
    -moz-transition: 900ms ease;
    -ms-transition: 900ms ease;
    -o-transition: 900ms ease;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.navbar__links.active {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.navbar__links a,
.dropdown-link a,
.btn.bg--white,
.section-1__title,
.article__title {
    color: hsl(208, 49%, 24%);
    font-weight: 500;
}

.navbar__links.active {
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
}

.arrow-dark {
    position: relative;
    left: 5px;
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
    -moz-transition: transform 500ms ease;
    -ms-transition: transform 500ms ease;
    -o-transition: transform 500ms ease;
}

.arrow-light {
    display: none;
}

.navbar__dropdown.show .arrow-dark {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.navbar__dropdown.show .dropdown-link {
    padding: 1rem 0;
    max-height: 250px;
}


.dropdown-link {
    max-height: 0;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 500ms ease-out;
    -webkit-transition: max-height 500ms ease-out;
    -moz-transition: max-height 500ms ease-out;
    -ms-transition: max-height 500ms ease-out;
    -o-transition: max-height 500ms ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dropdown-link>a,
.dropdown-link {
    margin: .65rem 0;
}

.navbar__toggle {
    position: relative;
    top: 10px;
}

.toggle--close {
    position: absolute;
    right: 2px;
    top: -4px;
    visibility: hidden;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
}

.btn {
    padding: .80rem 1.5rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.btn.bg--red-ish {
    max-width: 8rem;
    width: 65%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.container--intro {
    min-height: 80vh;
    width: 100%;
}

.intro {
    width: 80%;
    margin: 0 auto;
}

.intro__title {
    font-weight: 300;
}

.intro__sub-title {
    color: hsl(0, 0%, 94%);
    margin: 2rem 0 3rem 0;
}

.intro__btns {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.intro__title,
.btn,
.btn.bg--red-ish,
.section-2__article>.article__title,
.footer__links>a {
    color: hsl(0, 0%, 100%);
}

.btn.bg--white,
.btn.border--white:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    transition: background 500ms ease;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -ms-transition: background 500ms ease;
    -o-transition: background 500ms ease;
}

.btn.border--white {
    border: 1px solid hsl(0, 0%, 100%);
    margin-top: 1rem;
}

.btn.bg--white:hover {
    outline: none;
    border: none;
    color: #f1f1f1;
    background: hsl(355, 100%, 74%);
}

.btn.bg--white,
.btn.border--white {
    font-weight: 700;
    width: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

header,
.section-1,
.section-2,
.section-3,
.footer {
    text-align: center;
}


.section-1__title {
    margin: 5rem 0 4rem 0;
}

.article,
.article__title,
.footer__links,
.footer__sub-link {
    margin: 1rem 0;
}

.img__mobile {
    width: 150%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.img__desktop {
    display: none;
}

.section-2 {
    background-color: hsl(237, 17%, 21%);
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    background-image: url("./images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center -100px;
    background-size: 100%;
    margin-top: 16rem;
}

.section-2__img-illustration {
    position: relative;
    bottom: 150px;
}

.section-2__article {
    max-width: 30rem;
    position: relative;
    bottom: 100px;
}

.section-2__article>.article__title {
    font-size: 2.25rem;
}

.section-2__article>p,
.footer__sub-link>a {
    color: hsl(0, 0%, 80%);
}

.column--reverse,
.section-3 {
    flex-direction: column-reverse;
}

.footer {
    background-color: hsl(240, 10%, 16%);
    padding: 3rem 0 1.5rem 0;
    border-top-right-radius: 80px;
}

.footer__logo,
.section-3 {
    margin-bottom: 2rem;
}

@media(min-width: 372px) {
    .intro__btns {
        flex-direction: row;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 26rem;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .btn.bg--white,
    .btn.border--white {
        max-width: 10rem;
        width: 100%;
        position: relative;
        left: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        margin: 0 .50rem;
    }
}

@media (min-width: 1000px) {
    .navbar {
        align-items: center;
        padding: 2rem 3rem;
    }

    .navbar__links {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        background-color: transparent;
        position: initial;
        padding: 0;
        transition: none !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
    }

    .arrow-dark {
        display: none;
    }

    .arrow-light {
        display: block;
        position: absolute;
        top: 7px;
        left: 70px;
        transition: transform 500ms ease;
        -webkit-transition: transform 500ms ease;
        -moz-transition: transform 500ms ease;
        -ms-transition: transform 500ms ease;
        -o-transition: transform 500ms ease;
    }

    .p-left {
        left: 78px;
    }

    .navbar__dropdown:hover .arrow-light {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .navbar__dropdown {
        margin-left: 3.5rem;
        position: relative;
    }

    .dropdown-link {
        position: absolute;
        text-align: start;
        top: 40px;
        left: -20px;
        max-height: 0;
        overflow: hidden;
        padding: 1rem 3rem 1rem 1.5rem;
        visibility: hidden;
        background-color: hsl(0, 0%, 100%);
        transition: max-height 700ms ease;
        -webkit-transition: max-height 700ms ease;
        -moz-transition: max-height 700ms ease;
        -ms-transition: max-height 700ms ease;
        -o-transition: max-height 700ms ease;
    }

    .navbar__dropdown:hover .dropdown-link {
        max-height: 250px;
        visibility: visible;
    }

    .navbar__dropdown>a,
    .btn.bg--none {
        color: hsl(0, 0%, 95%);
    }

    .navbar__btns.flex--row {
        width: 70%;
        justify-content: flex-end;
    }

    .btn.bg--none {
        max-width: 8rem;
        width: 65%;
    }

    .btn.bg--red-ish {
        background: hsl(0, 0%, 100%);
        color: hsl(353, 100%, 62%);
        position: initial;
        left: 0;
        transform: translateX(0);
        transition: background 500ms ease;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -webkit-transition: background 500ms ease;
        -moz-transition: background 500ms ease;
        -ms-transition: background 500ms ease;
        -o-transition: background 500ms ease;
    }

    .btn.bg--red-ish:hover {
        outline: none;
        border: none;
        color: #f1f1f1;
        background: hsl(355, 100%, 74%);
    }

    .intro__title {
        font-size: 4rem;
    }

    .section-1__title {
        font-size: 2.50rem;
        position: relative;
        top: 80px;
    }

    .section-2 {
        background-position: -200px -400px;
        background-size: 65%;
        height: 400px;
    }

    .section-3 {
        margin: 0;
    }

    .section-2__img-illustration,
    .section-2__article {
        bottom: 0;
    }

    .container--width-100 {
        width: 100%;
    }

    .section-1__article {
        margin-left: 2rem;
    }

    .section-2__article {
        margin: 0 2.7rem 0 0;
        max-width: none;
    }

    .section-3__article {
        margin-right: 2rem;
    }

    .section-1__article,
    .section-2__article,
    .section-3__article {
        width: 40%;
    }

    .section-1__article,
    .section-2__article,
    .section-3__article,
    .footer__links {
        text-align: start;
    }

    .flex--row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .row--reverse {
        flex-direction: row-reverse;
    }

    .img__mobile,
    .line,
    .navbar__toggle {
        display: none;
    }

    .section-1__img>.img__desktop {
        background-image: url("./images/illustration-editor-desktop.svg");
        background-position: center left;
    }

    .section-3__img>.img__desktop {
        background-image: url("./images/illustration-laptop-desktop.svg");
        background-position: -270px;
    }

    .section-1__img>.img__desktop,
    .section-3__img>.img__desktop {
        padding: 20rem;
        background-size: 150%;
        background-repeat: no-repeat;
        display: block;
    }

    .img__desktop {
        min-height: 132vh;
    }

    .align--flex-start {
        align-items: flex-start;
    }
}